@keyframes brighter{
    0%{
        color: #fff;
    }

    10%{
        color: #000;
    }
    

    100%{
        background-color: #fff;
    }
}

@keyframes darker{
    0%{
        color: #000;
    }

    10%{
        color: #fff;
    }

    100%{
        background-color: #000;
    }
}