html{
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


body{
    border: 4px solid #000;
    border-top: 0;
    height: 100vh;
}

li{
    list-style: none;
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
}

.colorMe{
    background-color: black;
}

.displaynone{
    display: none;
}

.displayblock{
    display: block;
}

.displayflex{
    display: flex;
}

.computerScreen{
    position: absolute;
}

.phonemessage{
    display: none;
}


@media screen and (max-width: 800px){
    .main{
        display: none;
    }
    body{
        border: 1px solid #969696;
        width: 100%;
        height: auto;
    }
    
    .phonemessage{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 99.5vh;

        font-family: 'monoska';
        font-size: 12px;

        text-align: center;
        
    }
}

@media screen and (max-width: 1500px) and (min-width: 800px){
    body{
        display: flex;
        flex-direction: row;
        border: 2px solid #000;
        height: auto;
    }
}