.main{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 2px;
    margin-bottom: 5px;

    min-height: 80vh;

    font-family: "Monoska";

    &__one{
        border: 1rem solid #000;
        border-radius: 10px;
        
        width: 50%;
        padding: 2rem;
        margin-right: 1rem;
    }

    &__two{
        border: 1rem solid #000;
        border-radius: 10px;
        
        display: flex;
        flex-direction: column;
        text-align: center;

        width: 25%;
    }

}

.fontAccessible{
    font-family: 'Raleway', sans-serif !important;
}

@media screen and (max-width: 500px){
    .main{
        display: none;
    }
}