.controlPanel{ 
    padding: 0rem 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    background-color: $lightGreen;
    
    &__item{
        border: 1px solid red;
        height: 10rem;
    }
}

.follow{
    grid-row: 1/4;
    height: 100%;
    width: 100%;
    min-width: 10rem;
}
