.controlPanel{
    width: 100%;
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;

    
    &__item{
        border: 1px solid red;
        height: 10rem;
    }
}

.brightLight{
    grid-row: 1/4;
    height: 100%;
    width: 40%;
}