.screen{
    display: flex;
    background-color: #fff;
    border-radius: 10px;

    &__carousel{
        border: 4px solid #000;
        border-radius: 10px;

        width: 100%;
        padding: 4rem;

        font-family: "Monoska";

    }

}

.increaseBrightness{
    animation: brighter 3s ease-in-out;
    background-color: #fff;
    transition: background-color 3.5s ease-in-out;
}

.decreaseBrightness{
    animation: darker 3s ease-in-out;
    background-color: #000;
    color: #fff;
    transition: background-color 3.5s ease-in-out;
}


.item{
    height: 65vh;
    
    &__one{
        display: flex;
        flex-direction: column;

        &-title{
            padding: 0rem 1rem;
            margin-bottom: 2rem;
            width: 75%;
            min-width: 50%;

            &-editor{
                & > span{
                    font-size: 11px;
                }
            }
            
        }

        &-article{
            display: flex;
            flex-direction: row;
            text-align: justify;
            text-justify: inter-character;

            &-part{
                padding: 1rem;
                font-size: 16px;
                width: 50%;
            }
        }
    }


    &__two{
        display: flex;
        flex-direction: column;

        &-title{
            padding: 0rem 1rem;
            margin-bottom: 2rem;
            width: 100%;
            min-width: 50%;
        }

        &-article{

            &-image{
                width: 30%;
                float: left;
                margin: 5px;

                border: 1rem solid black;
                background-color: white;
            }

            &-text{
                text-align: justify;
                font-size: 16px;
            }
        }
    }

    &__three{
        font-family: 'Edu SA Beginner', cursive;

        &-title{
            margin-bottom: 2rem;
        }

        &-text{
            font-size: 18px;
        }
    }

    &__four{
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &-static{
            position: relative;
            
        }

        &-animated{
            position: relative;
        }
    }

    &__five{
        display: flex;
        flex-direction: column;
        padding: 0;

        &-header{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;

            border: 1px solid #000;
            border-bottom: none;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            
            background-color: #d3d3d3;
            
            width: 100%;
            padding: 1rem;

            &-contact{
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                
                &-pfp{
                    border-radius: 50%;
                }
                &-name{
                    margin-top: 1rem;
                    margin-left: 1rem; 
                }
            }

            &-actions{
                display: flex;
                flex-direction: row nowrap;
                align-items: center;

                &-call{
                    border-radius: 50%;
                    width: 5rem;
                    height: 5rem;
                    margin-right: 1rem;
                }
                &-settings{
                    border-radius: 50%;
                    width: 5rem;
                    height: 5rem;
                }
            }
        }

        &-main{
            display: block;
            border: 1px solid #000;
            
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
        }
    }

    &__six{

    }

    &__seven{

    }

    &__eight{

    }
}