.screen{
    display: flex;
    background-color: #fff;
    border-radius: 10px;

    &__carousel{
        border: 4px solid #000;
        border-radius: 10px;

        width: 100%;
        padding: 4rem;

        font-family: "Monoska";

    }

}

.increaseBrightness{
    animation: brighter 3s ease-in-out;
    background-color: #fff;
    transition: background-color 3.5s ease-in-out;
}

.decreaseBrightness{
    animation: darker 3s ease-in-out;
    background-color: #000;
    color: #fff;
    transition: background-color 3.5s ease-in-out;
}


.item{
    height: 65vh;
    
    &__one{
        display: flex;
        flex-direction: column;

        &-title{
            padding: 0rem 1rem;
            margin-bottom: 2rem;
            width: 75%;
            min-width: 50%;

            &-editor{
                & > span{
                    font-size: 11px;
                }
            }
            
        }

        &-article{
            display: flex;
            flex-direction: row;
            text-align: justify;
            text-justify: inter-character;

            &-part{
                padding: 1rem;
                font-size: 16px;
                width: 50%;
            }
        }
    }


    &__two{
        display: flex;
        flex-direction: column;

        &-title{
            padding: 0rem 1rem;
            margin-bottom: 2rem;
            width: 100%;
            min-width: 50%;
        }

        &-article{

            &-image{
                width: 30%;
                float: left;
                margin: 5px;

                border: 1rem solid black;
                background-color: white;
            }

            &-text{
                text-align: justify;
                font-size: 16px;
            }
        }
    }

    &__three{
        font-family: 'Edu SA Beginner', cursive;

        &-title{
            margin-bottom: 2rem;
        }

        &-text{
            font-size: 18px;
        }
    }

    &__four{
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &-static{
            position: relative;
            
        }

        &-animated{
            position: relative;
        }
    }
}