.screen{
    display: flex;
    background-color: #fff;
    border-radius: 10px;

    &__carousel{
        border: 4px solid #000;
        border-radius: 10px;

        width: 100%;
        padding: 4rem;

        font-family: "Monoska";
    }

}

.increaseBrightness{
    animation: brighter 3s ease-in-out;
    background-color: #fff;
    transition: background-color 3.5s ease-in-out;
}

.decreaseBrightness{
    animation: darker 3s ease-in-out;
    background-color: #000;
    color: #fff;
    transition: background-color 3.5s ease-in-out;
}


.item{
    height: 65vh;
    
    &__one{
        display: flex;
        flex-direction: column;

        &-title{
            padding: 0rem 1rem;
            margin-bottom: 2rem;
            width: 75%;
            min-width: 50%;

            &-editor{
                & > span{
                    font-size: 11px;
                }
            }
            
        }

        &-article{
            display: flex;
            flex-direction: row;
            text-align: justify;
            text-justify: inter-character;

            &-part{
                padding: 1rem;
                font-size: 16px;
                width: 50%;
            }
        }
    }


    &__two{
        display: flex;
        flex-direction: column;

        &-title{
            padding: 0rem 1rem;
            width: 100%;
            min-width: 50%;
        }

        &-article{

            &-image{
                width: 30%;
                float: left;
                margin: 2rem;

                border: 1rem solid black;
                background-color: white;
            }

            &-text{
                text-align: justify;
                font-size: 16px;

                margin-top: 2rem;
            }
        }
    }

    &__three{
        font-family: 'Edu SA Beginner', cursive;

        &-title{
            margin-bottom: 2rem;
        }

        &-text{
            font-size: 18px;
        }
    }

    &__four{
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &-static{
            position: relative;
            
        }

        &-animated{
            position: relative;
        }
    }

    &__five{
        display: flex;
        flex-direction: column;
        padding: 0;

        &-header{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;

            border: 1px solid #969696;
            border-bottom: none;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            
            background-color: #c4c4c4;
            
            width: 100%;
            padding: 1rem;

            &-contact{
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                
                &-pfp{
                    border-radius: 50%;
                }
                &-name{
                    margin-top: 1rem;
                    margin-left: 1rem;
                    color: #000 !important; 
                }
            }

            &-actions{
                display: flex;
                flex-direction: row nowrap;
                align-items: center;

                &-call{
                    border-radius: 50%;
                    min-width: 5rem;
                    height: 5rem;
                    margin-right: 1rem;
                    color: black !important;

                    &:active{
                        background-color: rgb(141, 0, 0);
                    }
                }
                
                &-settings{
                    border-radius: 50%;
                    width: 5rem;
                    height: 5rem;

                    &:active{
                        border-top-right-radius: 0px;
                        border-bottom-right-radius: 0px;
                    }
                    
                    &-content{
                        padding:0;
                        display: none;
                        height: 5rem;

                        &-deleted{
                            height: 5rem;
                            border: 2px solid #000;
                            border-left: none;
                            border-top-right-radius: 25px;
                            border-bottom-right-radius: 25px;
                            font-size: 12px;
                            color: #000 !important;

                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        &-main{
            display: block;
            border: 1px solid #969696;
            
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;

            height: 55vh;

            &-blocked{
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                margin-top: 20rem;
            }

            &-unblocked{
                flex-flow: column nowrap;
                padding: 2rem 4rem;

                & > p{
                    margin-bottom: 3rem;
                    padding: 1rem;
                    width: 100%;
                }


                &-sent{
                    position: relative;
                    display: flex;
                    justify-content: flex-end;

                    &-code{
                        color: #fff;
                        visibility: hidden;
                    }
                }
            }
        }
    }

    &__six{
        display: flex;
        flex-flow: column nowrap;
        padding: 2rem;


        &-text{
            display: inline-block;
            height: 30rem;

            border: 1px solid #969696;
            border-radius: 50px;

            margin-bottom: 4rem;

            &-paragraph{
                padding: 4rem;
                font-size: 18px;

                &-span{
                    color: #fff;
                }
            }
        }

        &-choices{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            
            &-box{
                font-size: 14px;

                margin-bottom: 2rem;
                width: 60rem;
                height: 6rem;

                background-color: transparent;
                border: 1px solid #969696;
                border-radius: 10px;

                box-shadow: 1px 2px 2px -2px rgba(0,0,0,0.75);

                &:last-child{
                    margin-bottom: 4rem;
                }


                &:active{
                    position: relative;
                    top: 2px;
                    box-shadow: inset 1px 4px 3px -4px rgba(0,0,0,0.99);
                }
            }
        }

        &-restart{
            
            width: 10rem;
            height: 5rem;
            align-self: center;
            border: 1px solid #969696;
            border-radius: 10px;
            box-shadow: 1px 2px 2px -2px rgba(0,0,0,0.75);
            background-color: transparent;

            &:active{
                    position: relative;
                    top: 2px;
                    box-shadow: inset 1px 4px 3px -4px rgba(0,0,0,0.99);
                }
        }
    }
}

.circleActive{
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    border-right: 0;
}
